.symphaties_container {
    max-width: 1080px;
    display: flex;
}

.symphaties_label {
    height: 70px;
    font-size: 55px;
    color: #e4e2d4;
}

.symphaty_text_block {
    height: 70px;
    
}

.symphaties_column {
    width: 250px;
    margin-right: 20px;
}

.ogo_block {
    font-size: 29px;
    font-weight: 300;
    color: #e4e2d4;
    line-height: 30px;
}

