.potentials_container {
    max-width: 1080px;
    display: flex;
}

.potentials_label {
    height: 70px;
    padding-top: 20px;
    font-size: 39px;
    color: #e4e2d4;
}

.potentials_text_block {
    height: 70px;
    
}

.potentials_column {
    width: 250px;
    margin-right: 20px;
}

.ogo_block {
    font-size: 29px;
    font-weight: 300;
    color: #e4e2d4;
    line-height: 30px;
}

